[submodule "grpc/api/dummy-proto"]
	path = grpc/api/dummy-proto
	url = https://github.com/DeYuro/dummy-proto
[submodule "kafka/sub"]
	path = kafka/sub
	url = https://github.com/wurstmeister/kafka-docker.git
